                                                * {
                                                    padding: 0;
                                                    margin: 0;
                                                    box-sizing: border-box;
                                                    font-family: 'Space Mono', monospace;
                                                }
                                                
                                                body {
                                                    position: relative;
                                                }
                                                
                                                img {
                                                    display: block;
                                                    width: 100%;
                                                }
                                                
                                                header {
                                                    padding: 0 5rem;
                                                }
                                                
                                                .nav h2 {
                                                    margin-top: 30px;
                                                }
                                                
                                                main {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    align-items: center;
                                                }
                                                
                                                .main-img img {
                                                    width: 700px;
                                                    height: 700px;
                                                }
                                                
                                                .main-text {
                                                    width: 600px;
                                                    /* padding: 2.5rem; */
                                                }
                                                
                                                .main-text h1,
                                                p {
                                                    margin-bottom: 3.125rem;
                                                }
                                                
                                                .main-text h1 {
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    font-size: 64px;
                                                    line-height: 95px;
                                                    letter-spacing: -0.035em;
                                                    color: #333333;
                                                }
                                                
                                                .main-text p {
                                                    width: 400px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    font-size: 24px;
                                                    line-height: 36px;
                                                    letter-spacing: -0.035em;
                                                    color: #4F4F4F;
                                                }
                                                
                                                .main-text button {
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    font-size: 14px;
                                                    line-height: 21px;
                                                    /* identical to box height */
                                                    letter-spacing: -0.035em;
                                                    color: #FFFFFF;
                                                    width: 216px;
                                                    height: 68px;
                                                    background-color: #333333;
                                                    border: none;
                                                }
                                                
                                                footer h3 {
                                                    font-family: Arial, Helvetica, sans-serif;
                                                    font-style: normal;
                                                    font-weight: 500;
                                                    font-size: 14px;
                                                    line-height: 17px;
                                                    /* identical to box height */
                                                    text-align: center;
                                                    color: #BDBDBD;
                                                    position: absolute;
                                                    left: 50rem;
                                                    top: 53.9375rem;
                                                }